.footer-about {
    width: 80%;
    display: flex;
    border-top: var(--border);
}

.footer-about__item {
    margin-right: 10px;
    margin-top: 10px;
}

.footer-about__link {
    font-size: 14px;
    color: var(--link-color);
}

.footer-copyright {
    width: 80%;
}

.footer-copyright__text {
    color: var(--link-color);
    white-space: pre-line;
}

.footer-copyright__link {
    color: var(--link-color);
}

@media screen and (max-width:991px) {
    .footer-about {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer-about__item {
        margin-right: 0px;
    }
    .footer-copyright {
        width: 90%;
    }
    .footer-copyright__text {
        font-size: 14px;
    }
}