.logo {
    width: 20%;
    text-align: end;

}

.logo__img {
    margin-top: 10px;

}

.logo__btn {
    display: none;
}

@media screen and (max-width:1259px) {
    .logo {
        width: unset;
    }

}

@media screen and (max-width:991px) {
    .logo {
        width: 100%;
        text-align: start;
        display: flex;
        justify-content: space-between;
    
    }

    .logo__img {
        margin-top: 5px;
        margin-left: 10px;
    }

    .logo__btn {
        display: inline-block;
        text-align: end;
        height: 30px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

