  .breadcrumbs {
      background-color: #343434;
      border-bottom: var(--border);
  }

  .breadcrumbs__content {
      display: flex;
      margin: 0;
      width: 500px;
      justify-content: center;
  }

  .breadcrumbs__item {
      padding: 5px;
      padding-left: 20px;
  }

  .breadcrumbs__item:not(:last-child):after {
      content: ">";
      color: var(--link-color);
      padding-left: 15px;
  }

  .btn-mobile {
    display: none;
}

  @media screen and (max-width:991px) {

      .breadcrumbs__content {
          width: 100%;
          justify-content: start;
          flex-wrap: wrap;
      }

      .breadcrumbs__item {
          padding: 5px;
          padding-left: 5px;
      }

  }
  @media screen and (max-width:768px) {
    .breadcrumbs {
      display: flex;
    }
    .btn-mobile {
        display: block;
        background-color: transparent;
        border: none;
        border-right: var(--border);
    }
}