.resources {
    color: white;
    font-family: var(--font-family); 
}

.resources__caption {
    font-weight: 500;
    font-size: 32px;
    margin: 30px 40px;
}
.annotation {
    line-height: 1.5;
}

.annotation__caption {
    font-weight: normal;
    margin-left: 40px;
}

.annotation__item {
    margin-left: 55px;
}