@import "../footer-container/site-footer/site-footer.css";
@import "../footer-container/toolbar-bottom/toolbar-bottom.css";

.footer-container {
    display: flex;
    background-color: #343434;
    flex-wrap: wrap;
    flex-direction: column;
  
}
