.footer-menu {
    width: 12%; /* Вот тут не совсем правильно. В таких случаях, ширина высчитывается автоматичски. То есть, у тебя есть ряд из нескольких меню.
    Тебе нужно сделать флекс контейнер для них, и добавить через gap отступы между этими менюшками + добавить для контейнера отступы по бокам.
    В итоге размеры меню будут вычисляться сами на основе доступного пространства.
    В данном случае, ты задаешь вненюю геометрию для БЭМ блока, что делать нельзя
    */
}

.footer-menu__caption {
    color: var(--link-color);
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.footer-menu__item {
    margin: 10px 0px;
}

@media screen and (max-width:991px) {
    .footer-menu {
        width: unset;
    }
    .footer-menu__caption {
        font-size: 16px;
    }
    .footer-menu__item {
        font-size: 14px;
    }
}
