@import "../text-content/description/description.css";
@import "../text-content/resources/resources.css";

.text-content {
    width: 50%;
}

@media screen and (max-width:1199px) {
    .text-content {
        grid-column-start: 2;
        width: auto;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}