.nav-content {
    line-height: 2.2;
    color: var(--link-color);
    font-family: var(--font-family);
}

.nav-content__caption {
    font-size: 18px; /* Вижу  много мест где задается различный font-size. Оптимальным тут было бы создание класса text и добавить ему модификаторы size-small, size-large и тп. После чего переиспользовать его везде где надо*/
    margin-top: 60px;
}

.nav-content__item {
    border-left: 1px solid;
}

.nav-content__link {
    font-size: 14px;
    padding-left: 10px;
}

@media screen and (max-width:1199px) {
    .nav-content {
        grid-column-start: 1;
        order: -1;
        margin-left: 10px;
    }
}
