.nav-content {
    line-height: 2.2;
    color: var(--link-color);
}

.nav-content__caption {
    margin-top: 60px;
}

.nav-content__item {
    border-left: 1px solid;
}

.nav-content__link {
    padding-left: 10px;
}

@media screen and (max-width:1199px) {
    .nav-content {
        grid-column-start: 1;
        order: -1;
        margin-left: 10px;
    }
}
