@import "../main-container/list-content/list-content.css";
@import "../main-container/text-content/text-content.css";
@import "../main-container/nav-content/nav-content.css";

.main-container {
    display: flex;
    background-color: #1b1b1b;
    justify-content: center;
    height: 100%;
    padding-bottom: 10px;

}

@media screen and (max-width:1199px) {
    .main-container {
        display: grid;
    }
}