@import "../main-container/nav-content/nav-content.css";

.main-container {
    display: flex;
    background-color: #1b1b1b;
    justify-content: center;
    padding-bottom: 10px;
}

.main-container__list {
    height: 800px;
    overflow-y: scroll;
}

.main-container__text {
    width: 50%;
    height: 100%;
}

.navigation {
    color: var(--link-color);
    line-height: 2.2;
}

.navigation__item_strong {
    font-size: 20px;
    margin: 15px 0;
    font-weight: 600;
}

.navigation__item_left-aligned {
    padding-left: 10px;
}

.description {
    color: white;
    line-height: 1.5;
    text-align: justify;
}

.description__caption {
    font-size: 38px;
    padding: 30px 40px;
    font-weight: 600;
}

.description__item {
    margin: 30px 40px;
}

.resources {
    color: white;
}

.resources__caption {
    font-weight: 500;
    font-size: 32px;
    margin: 30px 40px;
}

.annotation {
    line-height: 1.5;
}

.annotation__caption {
    font-weight: normal;
    margin-left: 40px;
}

.annotation__item {
    margin-left: 55px;
}

@media screen and (max-width:1199px) {
    .main-container {
        display: grid;
    }

    .main-container__list {
        grid-column-start: 1;
        padding-left: 10px;
    }

    .main-container__text {
        grid-column-start: 2;
        width: auto;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}